/* Estilos personalizados */
body {
    background-color: #f0f0f0; /* Cambiar el color de fondo */
}

.wrapper {
    width: 350px;
    border-radius: 18px;
    padding: 28px;
    background-color: royalblue;
    color: black;
    font-family: sans-serif;
    border: solid;
}

.wrapper header {
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    font-family: fantasy;
    margin-bottom: 20px; /* Espacio entre el encabezado y la barra de búsqueda */
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; /* Espacio entre la barra de búsqueda y el texto informativo */
}

.search input {
    flex: 1; /* Ocupa el espacio disponible */
    height: 53px;
    outline: none;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 24px;
    padding: 0 15px; /* Ajusta el espacio entre el icono de búsqueda y el borde */
}

.search i {
    font-size: 24px;
    padding: 10px; /* Ajusta el espacio alrededor del icono de búsqueda */
    cursor: pointer;
}

.info-text {
    font-size: 15px;
    color: black;
    margin: -3px 0 -10px;
    font-family: fantasy;
}
